$primaryColor: white;
$secondaryColor: rgb(232, 240, 254);
$thirdColor: rgb(241, 243, 244);
$hoverFocusColor: rgb(210, 227, 252);
$sucessColor: rgb(25, 135, 84);
$dangerColor: rgb(220, 53, 69);

$textFocus: rgb(26, 115, 232);
$textColor: rgb(135, 138, 142);

$secondnav-width: 30px;
$mainnav-height: 50px;