@import '../../styles/helpers/variables';
@import '../../styles/base/fonts';

$gap-space: 10px;

:host {
  display: grid;
  overflow-y: auto;
  grid-column: 2;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: $gap-space;
  width: 99%;
  margin: 0 auto;
  margin-top: $secondnav-width;
}

.img-content {
  display: flex;
  flex-direction: column;
}

.image-card {
  width: 100%;
  margin-top: $gap-space;
  cursor: pointer;
}

img {
  width: 230px;
}

@media (max-width: 1199.98px) {
  :host {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 1199.98px) {
  :host {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 991.98px) {
  :host {
    grid-column: 1;
    margin-top: 0px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 575.98px) {
  :host {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 290px) {
  :host {
    grid-template-columns: 1fr;
  }
}
