<div class="login-content">
    <h1 class="title1">Ingresar</h1>

    <div>
        <label for="email">Email Address</label>
        <input id="email" class="inp" type="text" placeholder="Enter email" />
    </div>
    <div>
        <label for="password">Password</label>
        <input id="password" class="inp" type="password" placeholder="Enter password" />
    </div>

    <input class="btn-primary btn" type="submit" value="Ingresar" />

    <p class="register">
        ¿Aún no tienes cuenta? <a href="registro.html">Registrate aquí</a>
    </p>
</div>